{:aliases  {:dev {:extra-paths ["development/src"
                                "bases/d/src"
                                "components/a/src"
                                "components/b/src"
                                "components/c/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths ["bases/d/test"
                                 "components/a/test"
                                 "components/b/test"
                                 "components/c/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "abd20bb656e2cdd712732d80e1238316d3ea1b7f"
                                 :deps/root "projects/poly"}

                                polylith-kaocha/test-runner
                                {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                 ;:git/tag "v0.7.0"
                                 :git/sha "e408aacd69d7bfe288a349cdd795a286b5e51b59"
                                 :deps/root "projects/test-runner"}}}}}
