{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version " 1.11.0"}}}

            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "abd20bb656e2cdd712732d80e1238316d3ea1b7f"
                                 :deps/root "projects/poly"}

                                polylith-kaocha/test-runner
                                #_{:local/root "../polylith-kaocha/projects/test-runner"}
                                {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                 :git/sha "e1f2f6644cde0ec73fa975174ed41875e3f8ce7d"
                                 :deps/root "projects/test-runner"}}}}}
